extends ../../templates/layout

append head
    link(rel="stylesheet", href="../css/p-demo.css")

block title
    | YY直播
    
block body 
    h1 Hello world

    include ../w-demo/w-demo

append script
    script(src="../js/p-demo.js")